<html>
    <head>
        <%- include('partials/header1.ejs') %>
    </head>
        <div class="container">
            <h2>Add an MP</h2>
            <form method="POST">
                <label for="id">MP ID</label>
                <input type="text" id="id" placeholder="Enter MP ID" name="id">
                <label for="name">MP Name</label>
                <input type="text" id="name" placeholder="Enter MP`s name" name="name">
                <label for="party">Political Party</label>
                <input type="text" id="party" placeholder="Enter party name" name="party">
                <button type="submit">Submit</button>
            </form>
        </div>
    
</html>