<html>
 <head>
    <%- include('partials/header1.ejs') %>

  
            <!--this line uses external cc to set paragraph font as per settings in public css file-->
    
 </head>
 <BODY>
   <!-- <h4 style="color: lime; font-size: xx-large;">Auckland</h4>-->
    <%- include('partials/navbar1.ejs') %>
    <div class="container"> 
        <h1>Contact Us</h1>
        <br>
        <h2>Address</h2>
        <p> 
            55 Gaunt Street,
            <br>
            Auckland
        </p>
        <h3>Contact</h3>
        <p>
            Phone:022 222 2222
            <br>
            Email:enquiries@reliant.co.nz
                  bookings@reliant.co.nz  
        </p>
        
        <!-- <img class="img2" src="/public/images/auckland.jpg" alt="Auckland">
        <p>Email Enquiries<a href="beaches">beaches.</a></p>
        <p style="color:#23086f">
            gffkfgk fgkmkfgk gklmkmd
            dkndkndkl gmklmdl;dl; dsklskd
            dndjsnjdfnsj dsklsdkdkldslk dslksdk sdlkkflsd
            dlksdlks sdfkdsklfd sdklsdfsd
        </p> -->
    </div>
 </BODY>

</html>