<html>
    <head>
           <%- include('partials/header1.ejs') %>
    </head>
    <body>
        <h2 style="color:red">Welcome to Admin Page</h2>
        <%- include('partials/navbar2.ejs') %>
            <p style="color:#00f">
                Welcome to Admin Page. You are now logged in
            </p>
            <p style="color:#7fae5d"></p>
                gffkfgk fgkmkfgk gklmkmd
                dkndkndkl gmklmdl;dl; dsklskd
                dndjsnjdfnsj dsklsdkdkldslk dslksdk sdlkkflsd
                dlksdlks sdfkdsklfd sdklsdfsd
            </p>
       <!-- </div>-->
    </body>
    
</html>
